In [1]:
from sqlapp import SqlApp

In [2]:
s = SqlApp()
s.connect('postgresql://postgres@localhost:5532/sqlapp')

In [3]:
from sqlalchemy import Column, Integer, String

Base = s.Base

class User(Base):
    __tablename__ = 'user'
    id = Column(Integer,
        primary_key=True,
        nullable=False,
    )
    name = Column(String(), nullable=False)
    city = Column(String(), nullable=False)

# Create user table in db
s.create_models(Base)

2020-02-23 11:49:27,925 INFO sqlalchemy.engine.base.Engine select version()
2020-02-23 11:49:27,929 INFO sqlalchemy.engine.base.Engine {}
2020-02-23 11:49:27,952 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-02-23 11:49:27,954 INFO sqlalchemy.engine.base.Engine {}
2020-02-23 11:49:27,964 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-23 11:49:27,966 INFO sqlalchemy.engine.base.Engine {}
2020-02-23 11:49:27,972 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-23 11:49:27,976 INFO sqlalchemy.engine.base.Engine {}
2020-02-23 11:49:27,994 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-02-23 11:49:27,995 INFO sqlalchemy.engine.base.Engine {}
2020-02-23 11:49:28,004 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-02-23 11:49:28,009 INFO sqlalchemy.engine.base.Engine {'name': u'user'}
2020-02-23 11:49:28,018 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "user" (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	city VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2020-02-23 11:49:28,025 INFO sqlalchemy.engine.base.Engine {}
2020-02-23 11:49:28,053 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
ROWS = [
    { 'name': 'Walid', 'city': 'Djerba' },
    { 'name': 'Mathias', 'city': 'Tours' },
]

s.populate(User, ROWS)

2020-02-23 11:49:30,339 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-23 11:49:30,343 INFO sqlalchemy.engine.base.Engine INSERT INTO "user" (name, city) VALUES (%(name)s, %(city)s) RETURNING "user".id
2020-02-23 11:49:30,352 INFO sqlalchemy.engine.base.Engine {'city': 'Djerba', 'name': 'Walid'}
2020-02-23 11:49:30,371 INFO sqlalchemy.engine.base.Engine INSERT INTO "user" (name, city) VALUES (%(name)s, %(city)s) RETURNING "user".id
2020-02-23 11:49:30,373 INFO sqlalchemy.engine.base.Engine {'city': 'Tours', 'name': 'Mathias'}
2020-02-23 11:49:30,380 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
user = User(name='player', city='paris')

s.create(user)

2020-02-23 11:49:30,617 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-23 11:49:30,621 INFO sqlalchemy.engine.base.Engine INSERT INTO "user" (name, city) VALUES (%(name)s, %(city)s) RETURNING "user".id
2020-02-23 11:49:30,625 INFO sqlalchemy.engine.base.Engine {'city': 'paris', 'name': 'player'}
2020-02-23 11:49:30,637 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
player = s.session.query(User).filter_by(name='player').first()

player.city

2020-02-23 11:49:31,905 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-23 11:49:31,908 INFO sqlalchemy.engine.base.Engine SELECT "user".id AS user_id, "user".name AS user_name, "user".city AS user_city
FROM "user"
WHERE "user".name = %(name_1)s
 LIMIT %(param_1)s
2020-02-23 11:49:31,912 INFO sqlalchemy.engine.base.Engine {'name_1': 'player', 'param_1': 1}

u'paris'